*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width : 100%;
    min-height : 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color : #fff;
    position: relative;
}