body{
    background-image: url("images/bg.jpg");
    background-size:cover; 
    background-repeat:unset;
    background-position:top;
}
h3{
    color:white;
    font-family: "press start 2p";
    font-size:xx-large;
}
p{
    background-color: gray;
    color: white;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Adjust the gap size between grid items as needed */
    justify-content: center;
    align-items: center;
    max-width: 400px; /* Set a maximum width for the grid if desired */
    margin: auto;
  }
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10; /* Adjust the height as needed */
  }
  
  

